@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    
}


<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>404!</h1>
        <h2>Sorry, page not found</h2><br>
        <p>You better try our awesome search:</p>
       <a class="btn btn-purple waves-effect waves-light" asp-page="/Index"><i class="fa fa-angle-left"></i> Back to Home</a>
    </div>
</div>
